@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.screen-viewer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  
  &--blank,
  &--paused {
    @include flex-center;
  }
  
  &__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
    
    &--paused {
      filter: blur(8px) brightness(0.5);
    }
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include flex-column-center;
    gap: $spacing-lg;
    background-color: rgba($bg-dark, 0.9);
    
    &--paused {
      background-color: rgba($bg-dark, 0.7);
    }
  }
  
  &__message {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    color: $text-light;
    text-align: center;
  }
  
  &__overlay svg {
    width: 80px;
    height: 80px;
    color: $text-light-muted;
    opacity: 0.7;
  }
  
  &__overlay span {
    font-size: $font-size-xl;
    color: $text-light-muted;
  }
  
  &__loading,
  &__no-stream {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include flex-column-center;
    gap: $spacing-md;
    background-color: $bg-dark;
    
    svg {
      width: 64px;
      height: 64px;
      color: $text-light-muted;
      opacity: 0.5;
    }
    
    span {
      font-size: $font-size-lg;
      color: $text-light-muted;
    }
  }
  
  &__spinner {
    width: 48px;
    height: 48px;
    border: 4px solid $bg-dark-tertiary;
    border-top-color: $color-primary;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
